.ProductReview {
  text-align: center;
  padding: 16px;
  display: flex;
  justify-content: center;
   border: 1px solid #cdcdcd; 
  padding: 16px;
  margin-bottom: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: lighter;
  
}

.Review-comments {
  padding: 8px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: lighter;
  border: 1px solid #7fc0e1;
}
.Cart-product,.ProductReview
{
  border: 1px solid #7fc0e1;
}