.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 16px;
  height: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  justify-content: space-between;
  flex-direction: revert;
}
